<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92"
         style="background-image: url('/client/images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Register
    </h2>
</section>

<!-- Register Page -->
<section class="bg0 p-t-104 p-b-116">
    <div class="container">
        <div class="flex-w justify-content-center">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                <form id="register-form">
                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                        Create Your Account
                    </h4>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="full-name"
                               id="full-name"
                               placeholder="Full name">
                        <img class="how-pos4 pointer-none" src="/client/images/icons/user.png" alt="ICON">
                    </div>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="phone-number"
                               id="phone-number"
                               placeholder="Phone number">
                        <img class="how-pos4 pointer-none" src="/client/images/icons/user.png" alt="ICON">
                    </div>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="email" name="email"
                               id="email"
                               placeholder="Email Address">
                        <img class="how-pos4 pointer-none" src="/client/images/icons/mail.png" alt="ICON">
                    </div>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="password" name="password"
                               id="password"
                               placeholder="Password">
                        <img class="how-pos4 pointer-none" src="/client/images/icons/password.png" alt="ICON">
                    </div>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="password" name="confirm_password"
                               id="confirm_password"
                               placeholder="Confirm Password">
                        <img class="how-pos4 pointer-none" src="/client/images/icons/password.png" alt="ICON">
                    </div>

                    <button type="submit"
                            class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                        Sign Up
                    </button>

                    <div class="txt-center p-t-20">
                        <p class="stext-115 cl6">
                            Already have an account?
                            <a href="/login" class="cl1 hov-cl2">Login</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    $('#register-form').submit(async (e) => {
        e.preventDefault();

        const fullName = $('#full-name').val().trim();
        const phoneNumber = $('#phone-number').val().trim();
        const email = $('#email').val().trim();
        const password = $('#password').val().trim();
        const confirmPassword = $('#confirm_password').val().trim();

        if (!fullName || !phoneNumber || !email || !password || !confirmPassword) {
            swal('Register failed', "Please enter all required information", "error");
            return;
        }

        if (fullName.length < 3 || fullName.length > 20) {
            swal('Register failed', "Full name must be between 3 and 20 characters", "error");
            return;
        }

        if (!/^(09|03|05|07)\d{8}$/.test(phoneNumber)) {
            swal('Register failed', "Invalid phone number", "error");
            return;
        }

        if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
            swal('Register failed', "Invalid email format", "error");
            return;
        }

        if (password.length < 6) {
            swal('Register failed', "Password must be at least 6 characters", "error");
            return;
        }

        if (password !== confirmPassword) {
            swal('Register failed', "Passwords do not match", "error");
            return;
        }

        await register(fullName, phoneNumber, email, password);
    });


    const register = async (fullName, phoneNumber, email, password) => {
        try {
            const response = await axios.post('/api/auth/register', {fullName, phoneNumber, email, password});
            if (response.data?.success) {
                swal('Success', "Registration successful!", "success")
                    .then(() => {
                        window.location.href = "/login";
                    });
            }
        } catch (error) {
            const msgErrors = error.response?.data?.errors;
            swal('Register failed', Object.values(msgErrors)[0] || "An error occurred", "error");
        }
    };

</script>
